* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* .main-header {
      border: 1px dashed red;
  } */


  body {
        font-family: arial, sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: whitesmoke;
        background-color: black;
  }

  
  .banner {
      color: white;
      display: flex;
      justify-content: center;
  }

  .main-nav {
      /* border: 1px solid green; */
      font-size: 15px;
      display: flex;
      justify-content: center;
  }

  .nav-list {
      /* border: 1px solid yellowgreen; */
      padding: 0 25px 50px 0;
      /* display: flex; */
      flex-direction: column;
      justify-content: flex-start; */
      
  }

  .main-page {
      /* border: 1px solid red;*/
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
  }

 
  .article-one {
      /* border: 1px solid blue;*/
      font-size: 15px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    
  .storefront,
  .beast,
  .article-one {
      border: 1px solid rgb(24, 24, 24);
  }

  a:link,
  a:visited {
      color: whitesmoke;
      text-decoration: none;
  }
  nav a:hover {
      text-decoration: none;
      color: rgb(68, 255, 255);
      font-style: ;
      font-size: 14px;
  }

  .merch a:hover {
    text-decoration: none;
    color: rgb(68, 255, 255);
    font-style: none;
  }

  .merch {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: center;
      font-size: 12px;
 }

  .fall19-images {
      height: 320px;
      width: 320px;
      margin: 5px 0;
      display: flex;
      align-items: center;
  }
 